// footer style

.main-footer{	
	a{
		color:$color-white;
		&:hover,&:focus{
			color:$color-pink;
		}
	}
	.widget-title{
		margin-bottom: 2.5rem;
		text-transform: uppercase;
	}
}
.f-info{
	align-items: center;
	margin-bottom: 1.5rem;
	align-items: flex-start;
	.icon{
		height: 34px;
		width: 34px;
		text-align: center;
		border-radius: 100%;
		background-color: $color-pink;
		border: 1px solid $color-pink;
		margin-right: .5rem;
		font-size: .875rem;
	}
	.text{
		width: calc(100% - 42px);
		line-height: 1.5rem;
	}	
}
.footer-bx{
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		li{
			margin-bottom: 0.5rem;
		}
		a{
			position: relative;
			&:before{
				content: '';
				position: absolute;
				left: 0;
				width: 0;
				height: 2px;
				top: 50%;
				transform: translateY(-50%);
				background-color: $color-pink;
				opacity: 0;
				transition: all 0.2s ease-in;
			}
			&:hover,
			&:focus{
				padding-left: 13px;
				&:before{
					width: 10px;
					opacity: 1;
				}
			}
		}
	}
	.social-links{
		a{color: $color-white;}
	}
}
.main-footer,	
.copyright-dv{
	font-size: 0.875rem;
}

.copyright-dv{
	border-top: 1px solid #888;
}